@charset "UTF-8";

/* base CSS rules */

body, textarea {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
	height: 30px;
	color: #FFF;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.1em;
	font-weight: 200;
	padding-top: 8px;
	padding-bottom: 2px;
	padding-left: 20px;
	margin-top: 0px !important;
}
h1 {
	background-color: #1A2E88;
}
h2 {
	background-color: #0033CC;
}
h3 {
	background-color: #1A2E88;
}
h4 {
	background-color: #12ACED;
}
p {
	border: 0;
	margin: 0;
	padding: 0 10px;
	font-size: 0.8em;
	text-align: justify;
}

input[type="submit"], input[type="reset"], input[type="button"], .ui-button, button {
	background:  url(../images/bg_btn.png) repeat-x center center;
	border: 1px solid #0033cc;
	color: #FFFFFF;
	cursor: pointer;
	padding: 3px;
}

.ui-button {
    cursor: pointer;
    display: inline-block;
    margin-right: 0.1em;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none !important;
	float: left;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .ui-button:hover, button:hover {
	background:  url(../images/bg_btn_over.png) repeat-x center center;
}

input[type="text"], input[type="password"], input[type="radio"], input[type="checkbox"], select, textarea {
	border: 1px solid #999;
}

textarea {
	font-size: 0.9em;
}
