@charset "UTF-8";

/* base CSS rules */

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	height: 30px;
	color: #FFF;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.1em;
	font-weight: 200;
	padding-top: 8px;
	padding-bottom: 2px;
	padding-left: 20px;
	margin-top: 0px !important;
}
h1 {
	background-color: #1A2E88;
}
h2 {
	background-color: #0033CC;
}
h3 {
	background-color: #1A2E88;
}
p {
	border: 0;
	margin: 0;
	padding: 0 10px;
	font-size: 0.8em;
	text-align: justify;
}