@charset "UTF-8";
/* CSS Document for application specific rules */

.site_logo {
	height: 70px;
	background-image: url(../images/UoL_logo.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-left: 310px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 5em;
	font-weight: 400;
	color: #0033CC;
	padding-bottom: 0.15em;
}
.member_entry {
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 200;
}
.member_entry a {
	background-color: #1A2E88;
	height: 30px;
	padding-top: 8px;
	padding-bottom: 2px;
	display: block;
	color: #FFF;
	text-decoration: none;
}
.member_entry:hover > a {
	background-color: #FF0000;
	color: #FFF;
}
.menu_holder {
	background-color: transparent;
	background-image: url(../images/blu_menu_rib.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: left top;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	height: 50px;
	margin-left: -10px;
}
.menu_main {
	background-color: #0033CC;
	height: 40px;
	color: #FFF;
	padding: 0px 0px 0px 10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.1em;
	font-weight: 200;
}
.menu_main ul {
	padding: 0;
	margin: 0;
}
.menu_main li {
	list-style: none;
	position: relative;
	float: left;
	text-align: center;
}
.menu_main a {
	height: 30px;
	padding-top: 8px;
	padding-bottom: 2px;
	display: block;
	width: 117.5px;
	color: white;
	text-decoration: none;
}
.menu_main :hover > a {
	background-color: #9AB3DB;
	color: #363795;
}
.image_slider {
	height: 300px;
	position: relative;
	background-image: url(../images/main_slider/image1.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: left top;
	cursor: pointer;
}
.image_slider.services {
	background-image: url(../images/guest_slider/guestservices.jpg);
}
.image_slider.business {
	background-image: url(../images/bus_slider/bus1.png);
}
.image_slider.internet {
	background-image: url(../images/internet_slider/internet2.jpg);
}
.slider_big {
	background-image: url(../images/main_slider/levni-hotel-image-gallery-3-b.jpg);
}
.header_holder {
	background-color: transparent;
	background-image: url(../images/blu_h1_rib.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: left top;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	height: 50px;
	margin-left: -10px;
}
.footer {
	border-top: 1px dotted #9AB3DB;
	text-align: left;
	color: #9AB3DB;
	font-size: 0.7em;
}
.footer a {
	text-decoration: none;
	color: #7C93BE;
}
.footer :hover > a {
	color: #363795;
}
.copyright {
	float: left;
	position: relative;
}
.footer_contact {
	float: right;
	position: relative;
	text-align: right;
}
.confroom_link {
	width: 300px;
	height: 200px;
	position: relative;
	background-attachment: scroll;
	background-image: url(../images/confroom.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	cursor: pointer;
}
.img_overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: visible;
	padding: 10px;
	color: #FFF;
	font-size: 0.8em;
}
.large_color1 {
	background-color: rgba(35,110,189,0.5);
	height: 30px;
	padding-top: 15px;
	font-size: 1em;
}
.overlay_color1 {
	background-color: rgba(9,57,201,0.5);
}
.overlay_color2 {
	background-color: rgba(35,110,189,0.5);
}
/* social networks */
.socnet_link ul {
	padding: 0;
	margin: 0;
}
.socnet_link li {
	list-style: none;
	position: relative;
	float: left;
	font-size: 0.9em;
	display: block;
	height: 40px;
	padding-bottom: 10px;
	padding-top: 8px;
	padding-left: 60px;
}
.socnet_link a {
	text-decoration: none;
	color: #7C93BE;
}
.socnet_link :hover > a {
	color: #363795;
}
.socnet_link .facebook {
	background-attachment: scroll;
	background-image: url(../images/f_logo.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.socnet_link .twitter {
	background-attachment: scroll;
	background-image: url(../images/twitter.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.uol_link ul {
	padding: 0;
	margin: 0;
}
.uol_link li {
	color: #7C93BE;
	font-size: 0.8em;
	padding-bottom: 5px;
	padding-left: 10px;
	list-style-image: none;
	list-style-type: square;
	list-style-position: inside;
}
.uol_link a {
	text-decoration: none;
	color: #7C93BE;
}
.uol_link :hover > a {
	color: #363795;
}
.booking_form_small form {
	padding-left: 10px;
/*	padding-right: 10px; */
	font-size: 0.8em;
}
.reservation_form {
	font-size: 0.8em;
	margin: 10px;
}
label {
	float: left;
	clear: left;
	width: 80px;
	height: 25px;
	font-size: 0.9em;
	padding-top: 3px;
}
.date_range, .small_form_select {
	float: left;
	width: 160px;
}
.reservation_form label {
	width: 160px;
}

.reservation_form .inner label {
	width: 100px;
}

.reservation_form input, .reservation_form select, .reservation_form textarea {
	float: left;
	width: 300px;
}
.listing {
	position: relative;
	font-size: 0.7em;
	width: 300px;
	margin-top: -10px;
}
.nopointer {
	cursor: default;
}
#availability_check fieldset {
	border:none;
	padding:0px !important;
}

.ui-calendar {
	background: #FFF;
	border: 1px solid #DEDEDE;
}

.ui-calendar table {
	border-spacing: 0;
}

.ui-calendar .nav-bar {
	background: #0033CC;
	color: #FFFFFF;
}

.ui-calendar .nav-bar td {
	border:none;
}

.ui-calendar .nav-bar .ui-icon.prev-link {
	
	background-position: -96px -16px;
}

.ui-calendar .nav-bar .ui-icon.next-link {
	
	background-position: -32px -16px;
}

.ui-icon {
	background: url(../images/icons/ui-icons_ffffff_256x240.png) no-repeat;
	display: block;
	width: 16px;
	height: 16px;
}

.box-shadow {
	-moz-box-shadow: 0 0 5px #DEDEDE;
	-webkit-box-shadow: 0 0 5px #DEDEDE;
	box-shadow: 0 0 5px #DEDEDE;
}

.ui-calendar-hdr {
	font-size: 0.8em;
}

.ui-calendar-hdr th {
    padding: 5px;
    border-bottom: 1px solid #DEDEDE;
}

.ui-calendar tr td {
	font-size: 0.8em;
	padding: 4px;
	text-align: center;
}

.ui-calendar tr td.disabled {
	background: #F1F1F1;
	color: #D1D1D1;
}

.ui-calendar tr td.choosenDay {
	background: #DA0087;
	color: #FFFFFF;
}

.ui-calendar tr td.toDay {
	border: 1px solid #0033CC;
}

.ui-calendar tr td.normalDay.highlight {
	background: #eb2133;
	color: #FFFFFF;	
}
.required {
	float: left;
	clear: left;
	visibility:hidden;
	font-size: 0.9em;
	color: red;
	margin-left:160px;
}
.required.short {
	font-size: 0.8em;
	margin-left: 80px !important;
}
.date_format {
	float:left;
	padding-left: 10px;
	font-size: 0.9em;
	color:#CCC;
}
