@charset "UTF-8";
/* CSS Document */

body {
	min-width: 960px;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}
.holder {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
.w140, .w300, .w460, .w620, .w940 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.w100p {
	width: 100%;
}
.w140 {
	width: 140px;
}
.w300 {
	width: 300px;
}
.w460 {
	width: 460px;
}
.w620 {
	width: 620px;
}
.w940 {
	width: 940px;
}
.pad_top_5 {
	padding-top: 5px;
}
.pad_bot_5 {
	padding-bottom: 5px;
}
.pad_top_10 {
	padding-top: 10px;
}
.pad_bot_10 {
	padding-bottom: 10px;
}
.pad_all_10 {
	padding: 10px;
}
.pad_top_20 {
	padding-top: 20px;
}
.pad_bot_20 {
	padding-bottom: 20px;
}
.pad_left_800 {
	padding-left: 800px;
}
.marg_top_5 {
	margin-top: 5px;
}
.marg_bottom_5 {
	margin-bottom: 5px;
}
.marg_top_10 {
	margin-top: 10px;
}
.marg_bottom_10 {
	margin-bottom: 10px;
}
.marg_top_20 {
	margin-top: 20px;
}
.marg_bottom_20 {
	margin-bottom: 20px;
}
.marg_left_10 {
	margin-left: 10px;
}
.marg_right_10 {
	margin-right: 10px;
}
.bar_right {
	position: relative;
	left: 640px;
}
.bar_left {
	position: relative;
	left: -320px;
}
.holder .zero_margL {
	margin-left: 0;
}
.holder .zero_margR {
	margin-right: 0;
}

.margin_top_10 {
	margin-top: 10px;
}
.margin-bottom_10 {
	margin-bottom: 10px;
}
.float_left {
	float:left;
}
.float_right {
	float:right;
}

label.radio {
	float:none;
}

label.clear-width {
	width: auto;
}

input.error {
	border-color: #eb2133;
	background: #fbeff0;
}

#guestbook_form {}

#guestbook_form .required {
	clear:none;
	float:none;
	margin: 0;
}

form div.inner {
    padding: 20px;
}

.message {
	padding: 10px;
	font-size: 0.8em;
}

.message span.icon {
	width: 16px;
	height: 16px;
	display: block;
	float:left;
	margin-right: 10px;
	margin-top: 1px;
	position: relative;
}

.message.success {
	background: #e3e8f4;
	box-shadow: 0 0 5px #e3e8f4;
	-moz-box-shadow: 0 0 5px #e3e8f4;
	-webkit-box-shadow: 0 0 5px #e3e8f4;
	border: 1px solid #d3ddf6;
}

.message.success span.icon {
	background: url(../images/icons/ui-icons_0033cc_256x240.png) no-repeat -16px -144px;
}

.message.error {
	background: #f7e4e5;
	box-shadow: 0 0 5px #f7e4e5;
	-moz-box-shadow: 0 0 5px #f7e4e5;
	-webkit-box-shadow: 0 0 5px #f7e4e5;
	border: 1px solid #f7d2d5;
}

.message.error span.icon {
	background: url(../images/icons/ui-icons_eb2133_256x240.png) no-repeat 0 -144px;
}

.icon {
	background: url(../images/icons/ui-icons_ffffff_256x240.png) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	margin-top: -8px;
	position: absolute;
	top: 50%;
}

.icon-only {
    height: 12px;
    padding: 6px;
    width: 12px;
}

.ui-icon-calendar {
	background-position: -34px -114px;
}
